{% extends 'common/layouts/base_fullscreen.html' %}
{% load static %}

{% block content %}

  <style>
    /* Styles for the tags box */
    .tags-input-container {
        position: relative; /* To allow absolute positioning of suggestions */
        border: 1px solid #ccc;
        padding: 5px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .tag {
      background-color: #0077cc;
      color: #fff;
      border-radius: 5px;
      padding: 3px 8px;
      margin: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .tag-text {
      margin-right: 5px;
    }

    .remove-tag {
      font-size: 12px;
      cursor: pointer;
    }

    /* Style to hide the input border */
    #tagInput {
       border: none;
        outline: none;
        flex: 1;
    }

    /* Suggestions dropdown styles */
    #suggestions {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
    overflow-y: auto;
    z-index: 1;
    box-sizing: border-box;
    }

    .suggestion {
      padding: 5px;
      cursor: pointer;
    }

    .suggestion:hover {
      background-color: #ddd;
    }


  </style>

<div class="d-flex-column">
     <div class="tags-input-container" id="tagsContainer">

    <input type="text" id="tagInput" placeholder="Type and press Enter to add tags">
  </div>
  <div id="suggestions"></div>
</div>


  <script>

    const tagsContainer = document.getElementById('tagsContainer');
    const tagInput = document.getElementById('tagInput');
    const suggestionsDiv = document.getElementById('suggestions');
    const tagsSuggestions = ['javascript', 'html', 'css', 'python', 'java', 'c++', 'php', 'ruby', 'react', 'angular',];


    tagInput.addEventListener('keyup', (event) => {
      const inputText = tagInput.value.trim().toLowerCase();
      if (inputText !== '') {
        showSuggestions(tagsSuggestions.filter(tag => tag.startsWith(inputText)));
      } else {
        hideSuggestions();
      }

      if (event.key === 'Enter' && inputText !== '') {
        addTag(inputText);
        tagInput.value = '';
        hideSuggestions();
      }
    });

    function showSuggestions(suggestions) {
      suggestionsDiv.innerHTML = '';
      suggestions.forEach(suggestion => {
        const suggestionDiv = document.createElement('div');
        suggestionDiv.className = 'suggestion';
        suggestionDiv.textContent = suggestion;
        suggestionDiv.addEventListener('click', () => {
          addTag(suggestion);
          tagInput.value = '';
          hideSuggestions();
        });
        suggestionsDiv.appendChild(suggestionDiv);
      });
      suggestionsDiv.style.display = 'block';
    }

    function hideSuggestions() {
      suggestionsDiv.style.display = 'none';
    }


    function addTag(tag) {
      const tagElement = document.createElement('div');
      tagElement.className = 'tag';
      tagElement.innerHTML = `<span class="tag-text">${tag}</span><span class="remove-tag" onclick="removeTag(this.parentNode)">x</span>`;
      tagsContainer.insertBefore(tagElement, tagInput);
    }

    function removeTag(tagElement) {
      tagsContainer.removeChild(tagElement);
    }
  </script>





{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

  <script src="{% static 'theme/js/plugins/chartjs.min.js' %}"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#575f9a",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock scripts %}
